 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>I'm a French Student at EPITA (Graduate School of Computer Science).</p>
                    <p>I'm passionate about video game development and I do a lot of GameJam.</p>
                    <p>I search an end of studies internship of 6 months starting in February.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Resume/Stephane-Archer-Resume.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
